.products_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.products_titulo {
    color: var(--color-gray-1, #3A3A3A);
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    margin-top: 50px;
    margin-bottom: 32px;
}

.products_row{
    display: flex;
    align-items: center;
    gap: 16px;
}

.loadMore_button{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 48px;
    border: 1px solid var(--Primary, #B88E2F);
    background: #FFF;
    margin-bottom: 69px;
}

.loadMore_button p{
    color: var(--Primary, #B88E2F);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}