.titulo {
    color: var(--color-gray-1, #3A3A3A);
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */

    margin-top: 50px;
}